/.git/
/.idea/

/.circleci/
/appveyor.yml
/travisci/
/.travis.yml

/.dockerignore

/.github/
/.scannerwork/
/coverage/
/reports/
/docs/
**/dist/
**/node_modules/

**/*.spec.ts
**/e2e/

**/tslint.json

**/.env

**/webpack.*.js

**/package.json
**/package-lock.json

**/.angular-cli.json
**/.editorconfig
**/.bootstraprc
**/*.properties
**/*.map
**/*.ejs
**/*.html
**/*.md
**/*.yml
**/*.scss
**/*.css
**/*.jpg
**/*.gif
**/*.jpeg
**/*.png
**/*.ico
**/*.svg
**/*.tgz
**/*.ttf
**/*.txt

**/.bithoundrc
**/.gitignore
**/.prettierignore
**/.snyk

**/.DS_Store
**/Thumbs.db
