$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path : '../node_modules/font-awesome/fonts';

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red: #d91c18 !default;
$orange: #f0ab11 !default;
$yellow: #ffd500 !default;
$green: #00b811 !default;
$blue: #0c06d8 !default;
$teal: #669fde !default;
$pink: #ffa7b7 !default;
$purple: #5c1d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;
